{% extends "auctions/layout.html" %}

{% block body %}

    <div id="page-title">
        Register
    </div>
    
    <form class="log-form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input class="logForm-textbox" maxlength="10" autofocus type="text" name="username" placeholder="Username">
        <input class="logForm-textbox" type="email" name="email" placeholder="Email address">
        <input class="logForm-textbox" type="password" name="password" placeholder="Password">
        <input class="logForm-textbox" type="password" name="confirmation" placeholder="Confirm password">
        {% if message %}
            <div id="logForm-errorMessage">
                {{ message }}
            </div>
        {% endif %} 
        <input class="logForm-button" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log in here</a>.

{% endblock %}